table, th, td {
    border: 1px solid black;
    padding:10px;
    }
    table.center {
    margin-left: auto; 
    margin-right: auto;
    width:80%;
    }
    tr:nth-child(even) {
    background-color: #eee;
    }
    tr:nth-child(odd) {
    background-color: #fff;
    }
 
    .wrapper1 {
        text-align: center;
        padding-left:120px;
        
    } 

    .wrapper2 {
        text-align: center;

        /* padding-right:40px; */
    } 
   
    .button {
        position: absolute;
        top: 50%;
       
        }
    #button1
    {
        margin-right:10%;
    }